{% extends 'base.html' %}

{% block content %}
<!--{% block title %}{{ context.title }}{% endblock %}-->
<div id="rec612793462" class="r t-rec t-rec_pt_60 t-rec_pb_0" style="padding-top:60px;padding-bottom:0px;background-color:#ffffff; " data-record-type="480" data-bg-color="#ffffff" data-animationappear="off">
    <!-- T480 -->
    <div style="width: 0; height: 0; overflow: hidden;">
        <div class="t480__sizer t-col t-col_1" data-auto-correct-mobile-width="false" style="height:40vh;"></div>
    </div>
    <div class="t480">
        <div class="t-container">
            <div class="t480__top t480__col t-col t-col_11 " itemscope="" itemtype="http://schema.org/ImageObject">
                <div class="t480__textwrapper t-align_left" style="height:40vh;">
                    <div class="t480__content t-valign_middle">
                        <h1 class="t480__title t-title t-title_xs " field="title" style="color:#000000;">Упс.. Ошибка</h1>
                        <div class="t480__uptitle t-descr t-descr_xs " field="subtitle" style="color:#000000;max-width:400px;">Кажется вы пытаетесь открыть несуществующую страницу.
                            <br>Ничего страшного, всё хорошо!</div>
                        <div class="t480__descr t-descr t-descr_md " field="descr" style="color:#000000;">Вы можете перейти на главную страницу сайта, нажав на кнопку ниже, или воспользоваться контактной информацией для связи со мной.</div>
                        <div class="t480__btn-container">
                            <div class="t480__btntext-wrapper"><a href="{{ url_for('main') }}" class="t-btntext " style="color:#eb18c3;">На главную страницу</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}