{% extends 'base.html' %}

{% block content %}
<!--{% block title %}{{ context.title }}{% endblock %}-->
<div id="rec612793462" class="r t-rec t-rec_pt_60 t-rec_pb_60" style="padding-top:60px;padding-bottom:60px;background-color:#ffffff; " data-record-type="480" data-bg-color="#ffffff" data-animationappear="off">
    <!-- T480 -->
    <div style="width: 0; height: 0; overflow: hidden;">
        <div class="t480__sizer t-col t-col_6" data-auto-correct-mobile-width="false" style="height:40vh;"></div>
    </div>
    <div class="t480">
        <div class="t-container">
            <div class="t480__top t480__col t-col t-col_6 " itemscope="" itemtype="http://schema.org/ImageObject">
                <meta itemprop="image" content="{{ url_for('static', filename= 'noroot.jpg') }}">
                <meta itemprop="caption" content="Коуч, психолог Екатерина Тараканова">
                <div class="t480__textwrapper t-align_left" style="height:40vh;">
                    <div class="t480__content t-valign_middle">
                        <h1 class="t480__title t-title t-title_xs " field="title" style="color:#000000;">Упс.. Ошибка</h1>
                        <div class="t480__uptitle t-descr t-descr_xs " field="subtitle" style="color:#000000;max-width:400px;">Кажется вы пытаетесь открыть несуществующую страницу.<br>Ничего страшного, всё хорошо! </div>
                        <div class="t480__descr t-descr t-descr_md " field="descr" style="color:#000000;">Вы можете перейти на главную страницу сайта, нажав на кнопку ниже, или воспользоваться контактной информацией для связи со мной</div>
                        <div class="t480__btn-container">
                            <div class="t480__btntext-wrapper"><a href="{{ url_for('main') }}" class="t-btntext " style="color:#eb18c3;" rel="noopener">На главную страницу</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t480__col t-col t-col_6 ">
                <div class="t480__blockimg t-bgimg loaded" data-original="{{ url_for('static', filename= 'noroot.jpg') }}" bgimgfield="img" style="background-image: url(&quot;{{ url_for('static', filename= 'noroot.jpg') }}&quot;); height: 352px;"
                role="img" aria-label="Коуч, психолог Екатерина Тараканова"></div>
            </div>
        </div>
    </div>
    <style>
        #rec612793462 .t-btn[data-btneffects-first],
        #rec612793462 .t-btn[data-btneffects-second],
        #rec612793462 .t-btn[data-btneffects-third],
        #rec612793462 .t-submit[data-btneffects-first],
        #rec612793462 .t-submit[data-btneffects-second],
        #rec612793462 .t-submit[data-btneffects-third] {
        position: relative;
        overflow: hidden;
        isolation: isolate;
        }
        #rec612793462 .t-btn[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects,
        #rec612793462 .t-submit[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transform: translateX(-85px);
        -ms-transform: translateX(-85px);
        transform: translateX(-85px);
        -webkit-animation-name: flash;
        animation-name: flash;
        -webkit-animation-duration: 3s;
        animation-duration: 3s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        }
        #rec612793462 .t-btn[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects_md,
        #rec612793462 .t-submit[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects_md {
        -webkit-animation-name: flash-md;
        animation-name: flash-md;
        }
        #rec612793462 .t-btn[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects_lg,
        #rec612793462 .t-submit[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects_lg {
        -webkit-animation-name: flash-lg;
        animation-name: flash-lg;
        }
        #rec612793462 .t-btn[data-btneffects-first="btneffects-flash"] .t-btn_effects,
        #rec612793462 .t-submit[data-btneffects-first="btneffects-flash"] .t-btn_effects {
        background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, .1)), to(rgba(255, 255, 255, .4)));
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, .1), rgba(255, 255, 255, .4));
        background: -o-linear-gradient(left, rgba(255, 255, 255, .1), rgba(255, 255, 255, .4));
        background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .4));
        width: 45px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 30px;
        -webkit-transform: skewX(-45deg);
        -ms-transform: skewX(-45deg);
        transform: skewX(-45deg);
        }
        @-webkit-keyframes flash {
        20% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        }
        @keyframes flash {
        20% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        }
        @-webkit-keyframes flash-md {
        30% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        }
        @keyframes flash-md {
        30% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        }
        @-webkit-keyframes flash-lg {
        40% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        }
        @keyframes flash-lg {
        40% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        }
    </style>
</div>
{% endblock %}