{% extends 'base.html' %}

{% block content %}
<!--{% block title %}{{ context.title }}{% endblock %}-->
<div id="rec632473288" class="r t-rec t-rec_pt_60 t-rec_pb_60 r_showed r_anim" style="padding-top:60px;padding-bottom:60px; " data-record-type="180">
    <!-- T165 -->
    <div class="t165">
        <div class="t-container">
            <div class="t165__col-top t-col t-col_3 t-prefix_2 t165__vmiddle t165__left">
                <img class="t165__img t165__img_circle t-img loaded" src="{{ url_for('static', filename= 'kt_photo_.jpg') }}" data-original="{{ url_for('static', filename= 'kt_photo_.jpg') }}" imgfiled="img" alt="Екатерина Тараканова - Коуч-психолог для подростков и взрослых">
            </div>
            <div class="t-col t-col_8 t165__vmiddle t165__left">
                <div class="t165__textwrapper">
                    <div class="t165__uptitle t-uptitle t-uptitle_sm" field="subtitle">
                        <div style="font-size: 28px;" data-customstyle="yes"></div>
                    </div>
                    <div class="t165__title t-heading t-heading_md" style="" field="title">
                        <div style="font-size: 46px; line-height: 48px;" data-customstyle="yes"><strong>Екатерина Тараканова</strong></div>
                    </div>
                    <div class="t165__text t-text t-text_sm" style="" field="text">
                        <div style="font-size: 30px; line-height: 34px;" data-customstyle="yes">Коуч-психолог для подростков и взрослых</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="rec611942560" class="r t-rec t-rec_pt_60 t-rec_pb_15 r_showed r_anim" style="padding-top:60px;padding-bottom:15px; " data-record-type="498">
    <!-- t498 -->
    <style type="text/css">
        @media screen and (max-width: 960px) {
        #rec611942560 .t498__line {
        height:2px;
        }
        }
    </style>
    <div class="t498">
        <ul role="list" class="t498__container t-container">
            <li class="t498__col t-col t-col_3 t-item" style="height: 141px;">
                <div class="t498__col-wrapper_fisrt t498__col-wrapper">
                    <div class="t498__title t-name t-name_xl" style="font-size:28px;" field="title">15 лет</div>
                    <div class="t498__descr t-descr t-descr_sm" style="" field="descr">изучаю психологию</div>
                </div>
            </li>
            <li class="t498__col t-col t-col_3 t-item" style="height: 141px;">
                <div class="t498__line" style="width: 2px; background: #333333;"></div>
                <div class="t498__col-wrapper">
                    <div class="t498__title t-name t-name_xl" style="font-size:28px;" field="title2">8 лет</div>
                    <div class="t498__descr t-descr t-descr_sm" style="" field="descr2">проводила бизнес-тренинги на предприятии<br>ГК "Росатом"</div>
                </div>
            </li>
            <li class="t498__col t-col t-col_3 t-item" style="height: 141px;">
                <div class="t498__line" style="width: 2px; background: #333333;"></div>
                <div class="t498__col-wrapper">
                    <div class="t498__title t-name t-name_xl" style="font-size:28px;" field="title3">2 года</div>
                    <div class="t498__descr t-descr t-descr_sm" style="" field="descr3">коуч для подростков и их родителей</div>
                </div>
            </li>
            <li class="t498__col t-col t-col_3 t-item" style="height: 141px;">
                <div class="t498__line" style="width: 2px; background: #333333;"></div>
                <div class="t498__col-wrapper">
                    <div class="t498__title t-name t-name_xl" style="font-size:28px;" field="title4">Сейчас</div>
                    <div class="t498__descr t-descr t-descr_sm" style="" field="descr4">наставник в онлайн-школах "Фоксфорд" и "Maximum"</div>
                </div>
            </li>
        </ul>
    </div>
    <script>
        t_onReady(function () {
        t_onFuncLoad('t498_unifyHeights', function () {
        window.addEventListener('resize', t_throttle(function () {
        t498_unifyHeights('611942560');
        }));
        t498_unifyHeights('611942560');
        var rec = document.querySelector('#rec611942560');
        if (!rec) return;
        var wrapper = rec.querySelector('.t498');
        if (wrapper) {
        wrapper.addEventListener('displayChanged', function () {
        t498_unifyHeights('611942560');
        });
        }
        });
        });
    </script>
</div>
<div id="rec612800632" class="r t-rec t-rec_pt_15 t-rec_pb_60 r_showed r_anim" style="padding-top:15px;padding-bottom:60px; " data-record-type="498">
    <!-- t498 -->
    <style type="text/css">
        @media screen and (max-width: 960px) {
        #rec612800632 .t498__line {
        height:2px;
        }
        }
    </style>
    <div class="t498">
        <ul role="list" class="t498__container t-container">
            <li class="t498__col t-col t-col_3 t-item" style="height: 144px;">
                <div class="t498__col-wrapper_fisrt t498__col-wrapper">
                    <div class="t498__title t-name t-name_xl" style="font-size:28px;" field="title3">Ментор</div>
                    <div class="t498__descr t-descr t-descr_sm" style="" field="descr3">для родителей по осознанному родительству</div>
                </div>
            </li>
            <li class="t498__col t-col t-col_3 t-item" style="height: 144px;">
                <div class="t498__line" style="width: 2px; background: #333333;"></div>
                <div class="t498__col-wrapper">
                    <div class="t498__title t-name t-name_xl" style="font-size:28px;" field="title4">Тренер</div>
                    <div class="t498__descr t-descr t-descr_sm" style="" field="descr4">по обучению мягким навыкам и развитию эмоционального интеллекта</div>
                </div>
            </li>
            <li class="t498__col t-col t-col_3 t-item" style="height: 144px;">
                <div class="t498__line" style="width: 2px; background: #333333;"></div>
                <div class="t498__col-wrapper">
                    <div class="t498__title t-name t-name_xl" style="font-size:28px;" field="title">Коуч ACSTH ICF</div>
                    <div class="t498__descr t-descr t-descr_sm" style="" field="descr">150+ часов практики с подростками и взрослыми в live-коучинге</div>
                </div>
            </li>
            <li class="t498__col t-col t-col_3 t-item" style="height: 144px;">
                <div class="t498__line" style="width: 2px; background: #333333;"></div>
                <div class="t498__col-wrapper">
                    <div class="t498__title t-name t-name_xl" style="font-size:28px;" field="title2">Наставник</div>
                    <div class="t498__descr t-descr t-descr_sm" style="" field="descr2">для подростков в сфере осознанной профориентации</div>
                </div>
            </li>
        </ul>
    </div>
    <script>
        t_onReady(function () {
        t_onFuncLoad('t498_unifyHeights', function () {
        window.addEventListener('resize', t_throttle(function () {
        t498_unifyHeights('612800632');
        }));
        t498_unifyHeights('612800632');
        var rec = document.querySelector('#rec612800632');
        if (!rec) return;
        var wrapper = rec.querySelector('.t498');
        if (wrapper) {
        wrapper.addEventListener('displayChanged', function () {
        t498_unifyHeights('612800632');
        });
        }
        });
        });
    </script>
</div>
<div id="rec615481142" class="r t-rec t-rec_pt_45 t-rec_pb_90 r_anim r_showed" style="padding-top:45px;padding-bottom:90px; " data-record-type="191">
    <!-- T142 -->
    <div class="t142">
        <div class="t-container_100">
            <div class="t142__wrapone">
                <div class="t142__wraptwo"><a class="t-btn t142__submit t-btn_md t-animate t-animate_started" href="https://t.me/katy_tarakanova" target="_blank" data-animate-style="zoomin" style="color: rgb(235, 24, 195); border: 3px solid rgb(235, 24, 195); background-color: rgb(255, 255, 255); border-radius: 90px; box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 30px 0px;"
                    data-btneffects-first="btneffects-flash" data-observer-ready="true" rel="noopener"><span class="t142__text">ЗАПИСАТЬСЯ НА БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ</span><div class="t-btn_wrap-effects t-btn_wrap-effects_md"><div class="t-btn_effects"></div></div></a></div>
            </div>
        </div>
    </div>
    <style>
        @media (hover), (min-width:0\0) {
        #rec615481142 .t-btn:not(.t-animate_no-hover):hover,
        #rec615481142 .t-btn:not(.t-animate_no-hover):focus-visible {
        background: #eb18c3 !important;
        color: #ffffff !important; }
        #rec615481142 .t-btn:not(.t-animate_no-hover){
        -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out; transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        }
        #rec615481142 .t-btntext:not(.t-animate_no-hover):hover{
        color: #ffffff !important; }
        }
    </style>
    <style>
        #rec615481142 .t-btn[data-btneffects-first],
        #rec615481142 .t-btn[data-btneffects-second],
        #rec615481142 .t-btn[data-btneffects-third],
        #rec615481142 .t-submit[data-btneffects-first],
        #rec615481142 .t-submit[data-btneffects-second],
        #rec615481142 .t-submit[data-btneffects-third] {
        position: relative;
        overflow: hidden;
        isolation: isolate;
        }
        #rec615481142 .t-btn[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects,
        #rec615481142 .t-submit[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transform: translateX(-85px);
        -ms-transform: translateX(-85px);
        transform: translateX(-85px);
        -webkit-animation-name: flash;
        animation-name: flash;
        -webkit-animation-duration: 3s;
        animation-duration: 3s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        }
        #rec615481142 .t-btn[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects_md,
        #rec615481142 .t-submit[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects_md {
        -webkit-animation-name: flash-md;
        animation-name: flash-md;
        }
        #rec615481142 .t-btn[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects_lg,
        #rec615481142 .t-submit[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects_lg {
        -webkit-animation-name: flash-lg;
        animation-name: flash-lg;
        }
        #rec615481142 .t-btn[data-btneffects-first="btneffects-flash"] .t-btn_effects,
        #rec615481142 .t-submit[data-btneffects-first="btneffects-flash"] .t-btn_effects {
        background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, .1)), to(rgba(255, 255, 255, .4)));
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, .1), rgba(255, 255, 255, .4));
        background: -o-linear-gradient(left, rgba(255, 255, 255, .1), rgba(255, 255, 255, .4));
        background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .4));
        width: 45px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 30px;
        -webkit-transform: skewX(-45deg);
        -ms-transform: skewX(-45deg);
        transform: skewX(-45deg);
        }
        @-webkit-keyframes flash {
        20% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        }
        @keyframes flash {
        20% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        }
        @-webkit-keyframes flash-md {
        30% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        }
        @keyframes flash-md {
        30% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        }
        @-webkit-keyframes flash-lg {
        40% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        }
        @keyframes flash-lg {
        40% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        }
    </style>
</div>
<div id="rec616036539" class="r t-rec t-rec_pt_0 t-rec_pb_0" style="padding-top:0px;padding-bottom:0px;background-color:#f6d5e7; " data-animationappear="off" data-record-type="37" data-bg-color="#f6d5e7">
    <!-- T022 -->
    <div class="t022 t-align_center">
        <div class="t-container">
            <div class="t-row">
                <div class="t-col t-col_8 t-prefix_2">
                    <div class="t022__text t-text t-text_sm t-animate t-animate_started" data-animate-style="zoomin" style="color: rgb(255, 255, 255); font-weight: 700;" field="text" data-observer-ready="true">
                        <div style="font-size: 20px; line-height: 20px;" data-customstyle="yes"><strong style="color: rgb(110, 11, 97);">РАБОТАЮ С ЗАПРОСАМИ</strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="rec612854900" class="r t-rec t-rec_pt_0 t-rec_pb_0" style="padding-top:0px;padding-bottom:0px;background-color:#ffffff; " data-animationappear="off" data-record-type="491" data-bg-color="#ffffff">
        <!-- t491 -->
        <div class="t491">
            <div class="t-section__container t-container">
                <div class="t-col t-col_12">
                    <div class="t-section__topwrapper t-align_center">
                        <div class="t-section__title t-title t-title_xs" field="btitle">
                            <div style="font-size: 14px;" data-customstyle="yes"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t491__container t-card__container t-container">
                <div class="t-card__col t-card__col_withoutbtn t491__col t-col t-col_6 t-item">
                    <div class="t491__content">
                        <div class="t491__wrapper"><img class="t491__img t491__img_circle t-img loaded" src="{{ url_for('static', filename= 'stones.png') }}" data-original="{{ url_for('static', filename= 'stones.png') }}" imgfield="li_img__1476976310929" alt="">
                            <div
                            class="t-card__title t-name t-name_sm" field="li_title__1476976310929" style="color:#333333;font-size:24px;line-height:1;"><strong>ДЕТСКО-РОДИТЕЛЬСКИЕ ОТНОШЕНИЯ</strong></div>
                    </div>
                    <div class="t-card__descr t-descr t-descr_xs" field="li_descr__1476976310929" style="color:#000000;font-size:24px;">
                        <div style="font-size: 22px;" data-customstyle="yes">Сложности во взаимодействии с детьми, родителями и партнерами по воспитанию детей. Нарушены отношения ребенка, родителя и взрослого внутри личности. Формирование родительской роли.</div>
                    </div>
                </div>
            </div>
            <div class="t-card__col t-card__col_withoutbtn t491__col t-col t-col_6 t-item">
                <div class="t491__content">
                    <div class="t491__wrapper"><img class="t491__img t491__img_circle t-img loaded" src="{{ url_for('static', filename= 'stones.png') }}" data-original="{{ url_for('static', filename= 'stones.png') }}" imgfield="li_img__1476976315081" alt="">
                        <div
                        class="t-card__title t-name t-name_sm" field="li_title__1476976315081" style="color:#333333;font-size:24px;line-height:1;"><strong>ЭКЗИСТЕНЦИАЛЬНЫЕ КРИЗИСЫ</strong></div>
                </div>
                <div class="t-card__descr t-descr t-descr_xs" field="li_descr__1476976315081" style="color:#000000;font-size:24px;">
                    <div style="font-size: 22px;" data-customstyle="yes">Внешне все хорошо, а внутри не очень. По-старому уже не можете, а по-новому не знаете как. Ощущение выгорания и потери смысла. Изменения ценностей, обретение новых смыслов.</div>
                </div>
            </div>
        </div>
        <div class="t-clear t491__separator" style="margin-bottom:100px;"></div>
        <div class="t-card__col t-card__col_withoutbtn t491__col t-col t-col_6 t-item">
            <div class="t491__content">
                <div class="t491__wrapper"><img class="t491__img t491__img_circle t-img loaded" src="{{ url_for('static', filename= 'stones.png') }}" data-original="{{ url_for('static', filename= 'stones.png') }}" imgfield="li_img__1476976330452" alt="">
                    <div class="t-card__title t-name t-name_sm"
                    field="li_title__1476976330452" style="color:#333333;font-size:24px;line-height:1;"><strong>РАБОТА С УБЕЖДЕНИЯМИ И ЧУВСТВАМИ</strong></div>
                </div>
                <div class="t-card__descr t-descr t-descr_xs" field="li_descr__1476976330452" style="color:#000000;font-size:24px;">
                    <div style="font-size: 22px;" data-customstyle="yes">Мешают категоричные убеждения. Ходите одними и теми же "маршрутами". С вами происходят одни и те же истории, только с разными людьми. Не умеете проживать эмоции и чувства.</div>
                </div>
            </div>
        </div>
        <div class="t-card__col t-card__col_withoutbtn t491__col t-col t-col_6 t-item">
            <div class="t491__content">
                <div class="t491__wrapper"><img class="t491__img t491__img_circle t-img loaded" src="{{ url_for('static', filename= 'stones.png') }}" data-original="{{ url_for('static', filename= 'stones.png') }}" imgfield="li_img__1476976334035" alt="">
                    <div class="t-card__title t-name t-name_sm"
                    field="li_title__1476976334035" style="color:#333333;font-size:24px;line-height:1;"><strong>ДОСТИЖЕНИЕ ЦЕЛИ </strong></div>
                </div>
                <div class="t-card__descr t-descr t-descr_xs" field="li_descr__1476976334035" style="color:#000000;font-size:24px;">
                    <div style="font-size: 22px;" data-customstyle="yes">Прокрастинация, сложности в выполнении задач. Выход из найма и поиск предназначения. Рост дохода. Получение желаемого результата и достижение цели. Составление плана действий на пути к цели. Тайм-менеджмент.</div>
                </div>
            </div>
        </div>
        <div class="t-clear t491__separator" style="margin-bottom:100px;"></div>
        <div class="t-card__col t-card__col_withoutbtn t491__col t-col t-col_6 t-item">
            <div class="t491__content">
                <div class="t491__wrapper"><img class="t491__img t491__img_circle t-img loaded" src="{{ url_for('static', filename= 'stones.png') }}" data-original="{{ url_for('static', filename= 'stones.png') }}" imgfield="li_img__1690255407453" alt="">
                    <div class="t-card__title t-name t-name_sm"
                    field="li_title__1690255407453" style="color:#333333;font-size:24px;line-height:1;"><strong style="color: rgb(14, 58, 125);">РЕАБИЛИТАЦИЯ ПОСЛЕ БИЗНЕС-ИНТЕНСИВОВ</strong></div>
                </div>
                <div class="t-card__descr t-descr t-descr_xs" field="li_descr__1690255407453" style="color:#000000;font-size:24px;">
                    <div style="font-size:22px;" data-customstyle="yes">Выгорание, потеря мотивации к достижениям и деятельности. Потеря смысла в жизни. Повышенная тревожность и острый стресс. Подавленное угнетенное состояние.</div>
                </div>
            </div>
        </div>
        <div class="t-card__col t-card__col_withoutbtn t491__col t-col t-col_6 t-item">
            <div class="t491__content">
                <div class="t491__wrapper"><img class="t491__img t491__img_circle t-img loaded" src="{{ url_for('static', filename= 'stones.png') }}" data-original="{{ url_for('static', filename= 'stones.png') }}" imgfield="li_img__1690255694483" alt="">
                    <div class="t-card__title t-name t-name_sm"
                    field="li_title__1690255694483" style="color:#333333;font-size:24px;line-height:1;"><strong>РАЗВИТИЕ ЭМОЦИОНАЛЬНОГО ИНТЕЛЛЕКТА У ПОДРОСТКОВ И ВЗРОСЛЫХ</strong></div>
                </div>
                <div class="t-card__descr t-descr t-descr_xs" field="li_descr__1690255694483" style="color:#000000;font-size:24px;">
                    <div style="font-size: 22px;" data-customstyle="yes">Развитие навыков эмпатии и эффективной коммуникации. Понимание и структура личных границ. Влияние работы мозга на поведение человека. Психологические особенности личности и понимание социальных процессов.</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    t_onReady(function () {
    t_onFuncLoad('t491_init', function () {
    t491_init('612854900');
    });
    });
</script>
</div>
<div id="rec611938672" class="r t-rec t-rec_pt_45 t-rec_pb_90 r_anim r_showed" style="padding-top:45px;padding-bottom:90px; " data-record-type="191">
    <!-- T142 -->
    <div class="t142">
        <div class="t-container_100">
            <div class="t142__wrapone">
                <div class="t142__wraptwo"><a class="t-btn t142__submit t-btn_md t-animate t-animate_started" href="https://t.me/katy_tarakanova" target="_blank" data-animate-style="zoomin" style="color: rgb(235, 24, 195); border: 3px solid rgb(235, 24, 195); background-color: rgb(255, 255, 255); border-radius: 90px; box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 30px 0px;"
                    data-btneffects-first="btneffects-flash" data-observer-ready="true" rel="noopener"><span class="t142__text">ХОЧУ НА КОНСУЛЬТАЦИЮ</span><div class="t-btn_wrap-effects t-btn_wrap-effects_md"><div class="t-btn_effects"></div></div></a></div>
            </div>
        </div>
    </div>
    <style>
        @media (hover), (min-width:0\0) {
        #rec611938672 .t-btn:not(.t-animate_no-hover):hover,
        #rec611938672 .t-btn:not(.t-animate_no-hover):focus-visible {
        background: #eb18c3 !important;
        color: #ffffff !important; }
        #rec611938672 .t-btn:not(.t-animate_no-hover){
        -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out; transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        }
        #rec611938672 .t-btntext:not(.t-animate_no-hover):hover{
        color: #ffffff !important; }
        }
    </style>
    <style>
        #rec611938672 .t-btn[data-btneffects-first],
        #rec611938672 .t-btn[data-btneffects-second],
        #rec611938672 .t-btn[data-btneffects-third],
        #rec611938672 .t-submit[data-btneffects-first],
        #rec611938672 .t-submit[data-btneffects-second],
        #rec611938672 .t-submit[data-btneffects-third] {
        position: relative;
        overflow: hidden;
        isolation: isolate;
        }
        #rec611938672 .t-btn[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects,
        #rec611938672 .t-submit[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transform: translateX(-85px);
        -ms-transform: translateX(-85px);
        transform: translateX(-85px);
        -webkit-animation-name: flash;
        animation-name: flash;
        -webkit-animation-duration: 3s;
        animation-duration: 3s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        }
        #rec611938672 .t-btn[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects_md,
        #rec611938672 .t-submit[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects_md {
        -webkit-animation-name: flash-md;
        animation-name: flash-md;
        }
        #rec611938672 .t-btn[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects_lg,
        #rec611938672 .t-submit[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects_lg {
        -webkit-animation-name: flash-lg;
        animation-name: flash-lg;
        }
        #rec611938672 .t-btn[data-btneffects-first="btneffects-flash"] .t-btn_effects,
        #rec611938672 .t-submit[data-btneffects-first="btneffects-flash"] .t-btn_effects {
        background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, .1)), to(rgba(255, 255, 255, .4)));
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, .1), rgba(255, 255, 255, .4));
        background: -o-linear-gradient(left, rgba(255, 255, 255, .1), rgba(255, 255, 255, .4));
        background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .4));
        width: 45px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 30px;
        -webkit-transform: skewX(-45deg);
        -ms-transform: skewX(-45deg);
        transform: skewX(-45deg);
        }
        @-webkit-keyframes flash {
        20% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        }
        @keyframes flash {
        20% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        }
        @-webkit-keyframes flash-md {
        30% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        }
        @keyframes flash-md {
        30% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        }
        @-webkit-keyframes flash-lg {
        40% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        }
        @keyframes flash-lg {
        40% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        }
    </style>
</div>
<div id="rec612846577" class="r t-rec t-rec_pt_0 t-rec_pb_0" style="padding-top:0px;padding-bottom:0px;background-color:#f6d5e7; " data-animationappear="off" data-record-type="37" data-bg-color="#f6d5e7">
    <!-- T022 -->
    <div class="t022 t-align_center">
        <div class="t-container">
            <div class="t-row">
                <div class="t-col t-col_8 t-prefix_2">
                    <div class="t022__text t-text t-text_sm" style="color:#ffffff;" field="text">
                        <div style="font-size: 20px; line-height: 20px;" data-customstyle="yes"><strong style="color: rgb(110, 11, 97);">УСЛУГИ И УСЛОВИЯ РАБОТЫ</strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="rec620171435" class="r t-rec t-rec_pt_60 t-rec_pb_60 r_anim r_showed" style="padding-top:60px;padding-bottom:60px; " data-record-type="1029">
    <!-- t1029 -->
    <div class="t1029">
        <div class="t-container t-card__container">
            <div class="t1029__row">
                <div class="t-card__col t-card__col_withoutbtn t1029__col t-col t-col_6 t-align_center t-item">
                    <div class="t1029__bgimg t1029__img_circle t-margin_auto t-bgimg loaded" bgimgfield="li_img__1656427283527" data-original="{{ url_for('static', filename= 'bigstock-young-girl-.jpg') }}" style="background-image: url(&quot;{{ url_for('static', filename= 'bigstock-young-girl-.jpg') }}&quot;);"
                    itemscope="" itemtype="http://schema.org/ImageObject">
                        <meta itemprop="image" content="{{ url_for('static', filename= 'bigstock-young-girl-.jpg') }}">
                    </div>
                    <div class="t1029__wrappercenter">
                        <h2 class="t-card__title t-name t-name_xl" field="li_title__1656427283527" style=""><strong style="color: rgb(14, 58, 125);">ПСИХОЛОГИЧЕСКИЙ КОУЧИНГ</strong><br><strong style="color: rgb(14, 58, 125);">для подростков и взрослых</strong></h2>
                        <div class="t-card__descr t-text t-text1" field="li_text__1656427283527" style="">
                            <div style="font-size: 18px;" data-customstyle="yes">
                                <ul>
                                    <li style="text-align: left;"><strong>бесплатная ознакомительная консультация</strong></li>
                                    <li style="text-align: left;"><span style="background-color: transparent;">минимальное количество бронируемых сессий - 3 сессии</span></li>
                                    <li style="text-align: left;">периодичность проведения сессий - 1 раз в неделю</li>
                                    <li style="text-align: left;">длительность сессии - <strong>55 минут</strong></li>
                                    <li style="text-align: left;">стоимость 1 сессии - <strong>6 000 рублей</strong> (<span style="font-size: 16px;">3 сессии - 18 000 рублей</span>)</li>
                                    <li style="text-align: left;"><strong style="background-color: transparent;">договор оферты, платежные документы</strong></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t-card__col t-card__col_withoutbtn t1029__col t-col t-col_6 t-align_center t-item">
                    <div class="t1029__bgimg t1029__img_circle t-margin_auto t-bgimg loaded" bgimgfield="li_img__1655825402357" data-original="{{ url_for('static', filename= '2e3b4db7bc4f36b6d4e4.jpeg') }}" style="background-image: url(&quot;{{ url_for('static', filename= '2e3b4db7bc4f36b6d4e4.jpeg') }}&quot;);"
                    itemscope="" itemtype="http://schema.org/ImageObject">
                        <meta itemprop="image" content="{{ url_for('static', filename= '2e3b4db7bc4f36b6d4e4.jpeg') }}">
                    </div>
                    <div class="t1029__wrappercenter">
                        <h2 class="t-card__title t-name t-name_xl" field="li_title__1655825402357" style=""><strong style="color: rgb(14, 58, 125);">КОМПЛЕКСНЫЙ БИЗНЕС РАЗБОР</strong><br><strong style="color: rgb(14, 58, 125);">бизнес-психология для взрослых</strong></h2>
                        <div class="t-card__descr t-text t-text1" field="li_text__1655825402357" style="">
                            <div style="font-size: 18px;" data-customstyle="yes">
                                <ul>
                                    <li style="text-align: left;"><strong>бесплатная ознакомительная консультация</strong></li>
                                    <li style="text-align: left;">минимальное количество бронируемых сессий - 1 сессия</li>
                                    <li style="text-align: left;">длительность сессии - <strong>55 минут</strong></li>
                                    <li style="text-align: left;">стоимость 1 сессии - <strong>12 000 рублей</strong></li>
                                    <li style="text-align: left;"><strong style="background-color: transparent;">договор оферты, платежные документы</strong></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t-clear t1029__separator" style="margin-bottom:50px;"></div>
            <div class="t1029__row">
                <div class="t-card__col t-card__col_withoutbtn t1029__col t-col t-col_6 t-align_center t-item">
                    <div class="t1029__bgimg t1029__img_circle t-margin_auto t-bgimg loaded" bgimgfield="li_img__1655825425270" data-original="{{ url_for('static', filename= 'uroven-intellekta.jpg') }}" style="background-image: url(&quot;{{ url_for('static', filename= 'uroven-intellekta.jpg') }}&quot;);"
                    itemscope="" itemtype="http://schema.org/ImageObject">
                        <meta itemprop="image" content="{{ url_for('static', filename= 'uroven-intellekta.jpg') }}">
                    </div>
                    <div class="t1029__wrappercenter">
                        <h2 class="t-card__title t-name t-name_xl" field="li_title__1655825425270" style=""><strong style="color: rgb(14, 58, 125);">ОБУЧЕНИЕ ГИБКИМ НАВЫКАМ</strong><br><strong style="color: rgb(14, 58, 125);">подростков и взрослых</strong></h2>
                        <div class="t-card__descr t-text t-text1" field="li_text__1655825425270" style="">
                            <div style="font-size: 18px;" data-customstyle="yes">
                                <ul>
                                    <li style="text-align: left;"><strong>бесплатная ознакомительная консультация</strong></li>
                                    <li style="text-align: left;">размер группы - 10 - 14 человек</li>
                                    <li style="text-align: left;">количество бронируемых семинаров не ограничено</li>
                                    <li style="text-align: left;">периодичность проведения семинаров - 1 раз в неделю / 1 раз в 2 недели</li>
                                    <li style="text-align: left;">длительность семинара - <strong>120 минут</strong></li>
                                    <li style="text-align: left;">стоимость 1 семинара - <strong>16 000 рублей с группы</strong></li>
                                    <li style="text-align: left;">при покупке от 3 семинаров - 13 000 рублей с группы</li>
                                    <li style="text-align: left;"><strong style="background-color: transparent;">договор оферты, платежные документы</strong></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t-card__col t-card__col_withoutbtn t1029__col t-col t-col_6 t-align_center t-item">
                    <div class="t1029__bgimg t1029__img_circle t-margin_auto t-bgimg loaded" bgimgfield="li_img__1690257299493" data-original="{{ url_for('static', filename= '7255031.jpg') }}" style="background-image: url(&quot;{{ url_for('static', filename= '7255031.jpg') }}&quot;);"
                    itemscope="" itemtype="http://schema.org/ImageObject">
                        <meta itemprop="image" content="{{ url_for('static', filename= '7255031.jpg') }}">
                    </div>
                    <div class="t1029__wrappercenter">
                        <h2 class="t-card__title t-name t-name_xl" field="li_title__1690257299493" style=""><strong style="color: rgb(14, 58, 125);">КУРС ДЛЯ ПОДРОСТКОВ (14+)</strong><br><strong style="color: rgb(14, 58, 125);">по развитию эмоционального интеллекта</strong></h2>
                        <div class="t-card__descr t-text t-text1" field="li_text__1690257299493" style="">
                            <div style="font-size: 18px;" data-customstyle="yes">
                                <ul>
                                    <li style="text-align: left;"><strong>бесплатная ознакомительная консультация</strong></li>
                                    <li style="text-align: left;">размер группы - 10 - 14 человек</li>
                                    <li style="text-align: left;">курс рассчитан на 9 месяцев с сентября по май</li>
                                    <li style="text-align: left;">структура курса на месяц (4 недели):</li>
                                </ul>
                                <p style="text-align: left;"><strong style="font-size: 16px;"> 1 неделя</strong><span style="font-size: 16px;"> - семинар длительностью 2 часа для группы</span></p>
                                <p style="text-align: left;"><strong style="font-size: 16px;"> 2 неделя</strong><span style="font-size: 16px;"> - мастермайнды для групп до 5 человек</span></p>
                                <p style="text-align: left;"><strong style="font-size: 16px;"> 3 неделя</strong><span style="font-size: 16px;"> - семинар длительностью 2 часа для группы</span></p>
                                <p style="text-align: left;"><strong style="font-size: 16px;"> 4 неделя</strong><span style="font-size: 16px;"> - индивидуальный коучинг для каждого участника группы</span></p>
                                <br>
                                <ul>
                                    <li style="text-align: left;">стоимость обучения - <strong>от 3 990 рублей в месяц </strong>с участника</li>
                                    <li style="text-align: left;"><strong style="background-color: transparent;">договор оферты, платежные документы</strong></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        t_onReady(function() {
        t_onFuncLoad('t1029_init', function () {
        t1029_init('620171435');
        });
        });
    </script>
</div>
<div id="rec620174408" class="r t-rec t-rec_pt_45 t-rec_pb_90 r_anim r_showed" style="padding-top:45px;padding-bottom:90px; " data-record-type="191">
    <!-- T142 -->
    <div class="t142">
        <div class="t-container_100">
            <div class="t142__wrapone">
                <div class="t142__wraptwo"><a class="t-btn t142__submit t-btn_md t-animate t-animate_started" href="{{ url_for('study') }}" data-animate-style="zoomin" style="color: rgb(235, 24, 195); border: 3px solid rgb(235, 24, 195); background-color: rgb(255, 255, 255); border-radius: 90px; box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 30px 0px;"
                    data-btneffects-first="btneffects-flash" data-observer-ready="true"><span class="t142__text">ПОДРОБНЕЕ О КУРСЕ ДЛЯ ПОДРОСТКОВ</span><div class="t-btn_wrap-effects t-btn_wrap-effects_md"><div class="t-btn_effects"></div></div></a></div>
            </div>
        </div>
    </div>
    <style>
        @media (hover), (min-width:0\0) {
        #rec620174408 .t-btn:not(.t-animate_no-hover):hover,
        #rec620174408 .t-btn:not(.t-animate_no-hover):focus-visible {
        background: #eb18c3 !important;
        color: #ffffff !important; }
        #rec620174408 .t-btn:not(.t-animate_no-hover){
        -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out; transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        }
        #rec620174408 .t-btntext:not(.t-animate_no-hover):hover{
        color: #ffffff !important; }
        }
    </style>
    <style>
        #rec620174408 .t-btn[data-btneffects-first],
        #rec620174408 .t-btn[data-btneffects-second],
        #rec620174408 .t-btn[data-btneffects-third],
        #rec620174408 .t-submit[data-btneffects-first],
        #rec620174408 .t-submit[data-btneffects-second],
        #rec620174408 .t-submit[data-btneffects-third] {
        position: relative;
        overflow: hidden;
        isolation: isolate;
        }
        #rec620174408 .t-btn[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects,
        #rec620174408 .t-submit[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transform: translateX(-85px);
        -ms-transform: translateX(-85px);
        transform: translateX(-85px);
        -webkit-animation-name: flash;
        animation-name: flash;
        -webkit-animation-duration: 3s;
        animation-duration: 3s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        }
        #rec620174408 .t-btn[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects_md,
        #rec620174408 .t-submit[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects_md {
        -webkit-animation-name: flash-md;
        animation-name: flash-md;
        }
        #rec620174408 .t-btn[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects_lg,
        #rec620174408 .t-submit[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects_lg {
        -webkit-animation-name: flash-lg;
        animation-name: flash-lg;
        }
        #rec620174408 .t-btn[data-btneffects-first="btneffects-flash"] .t-btn_effects,
        #rec620174408 .t-submit[data-btneffects-first="btneffects-flash"] .t-btn_effects {
        background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, .1)), to(rgba(255, 255, 255, .4)));
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, .1), rgba(255, 255, 255, .4));
        background: -o-linear-gradient(left, rgba(255, 255, 255, .1), rgba(255, 255, 255, .4));
        background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .4));
        width: 45px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 30px;
        -webkit-transform: skewX(-45deg);
        -ms-transform: skewX(-45deg);
        transform: skewX(-45deg);
        }
        @-webkit-keyframes flash {
        20% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        }
        @keyframes flash {
        20% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        }
        @-webkit-keyframes flash-md {
        30% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        }
        @keyframes flash-md {
        30% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        }
        @-webkit-keyframes flash-lg {
        40% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        }
        @keyframes flash-lg {
        40% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        }
    </style>
</div>
<div id="rec620344075" class="r t-rec t-rec_pt_0 t-rec_pb_0" style="padding-top:0px;padding-bottom:0px;background-color:#f6d5e7; " data-animationappear="off" data-record-type="37" data-bg-color="#f6d5e7">
    <!-- T022 -->
    <div class="t022 t-align_center">
        <div class="t-container">
            <div class="t-row">
                <div class="t-col t-col_8 t-prefix_2">
                    <div class="t022__text t-text t-text_sm" style="color:#ffffff;" field="text">
                        <div style="font-size: 20px; line-height: 20px;" data-customstyle="yes"><strong style="color: rgb(110, 11, 97);">ДИПЛОМЫ И СЕРТИФИКАТЫ</strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="t1029">
        <div class="t-container t-card__container">
            <div class="t1029dip__row">
                <div class="t1029diph__bgimg t-margin_auto t-bgimg loaded" itemscope="" itemtype="http://schema.org/ImageObject">
                    <a href="#img_1_1"><img src="{{ url_for('static', filename= 'acsth_1000h.jpg') }}" alt="Коуч ACSTH Екатерина Тараканова"></a>
                    <a href="#1_1" class="lightbox trans" id="img_1_1"><img src="{{ url_for('static', filename= 'acsth_1000h.jpg') }}" alt="Коуч ACSTH Екатерина Тараканова"></a>
                    <meta itemprop="image" content="{{ url_for('static', filename= 'acsth_1000h.jpg') }}">
                </div>
                <div class="t1029diph__bgimg t-margin_auto t-bgimg loaded" itemscope="" itemtype="http://schema.org/ImageObject">
                    <a href="#img_1_2"><img src="{{ url_for('static', filename= '5prism_kmy_1000h.jpg') }}" alt="Коуч международного уровня Екатерина Тараканова"></a>
                    <a href="#1_2" class="lightbox trans" id="img_1_2"><img src="{{ url_for('static', filename= '5prism_kmy_1000h.jpg') }}" alt="Коуч международного уровня Екатерина Тараканова"></a>
                    <meta itemprop="image" content="{{ url_for('static', filename= '5prism_kmy_1000h.jpg') }}">
                </div>
                <div class="t1029diph__bgimg t-margin_auto t-bgimg loaded" itemscope="" itemtype="http://schema.org/ImageObject">
                    <a href="#img_1_3"><img src="{{ url_for('static', filename= 'moneycoach_1000h.jpg') }}" alt="Коуч Екатерина Тараканова"></a>
                    <a href="#1_3" class="lightbox trans" id="img_1_3"><img src="{{ url_for('static', filename= 'moneycoach_1000h.jpg') }}" alt="Коуч Екатерина Тараканова"></a>
                    <meta itemprop="image" content="{{ url_for('static', filename= 'moneycoach_1000h.jpg') }}">
                </div>
            </div>
            <div class="t-clear t1029__separator" style="margin-bottom:50px;"></div>
            <div class="t1029dip__row">
                <div class="t1029dipv__bgimg t-margin_auto t-bgimg loaded" itemscope="" itemtype="http://schema.org/ImageObject">
                    <a href="#img_2_1"><img src="{{ url_for('static', filename= 'EATA_101_1000v.jpg') }}" alt="Сертификат EATA TA-101 Екатерина Тараканова"></a>
                    <a href="#2_1" class="lightbox trans" id="img_2_1"><img src="{{ url_for('static', filename= 'EATA_101_1000v.jpg') }}" alt="Сертификат EATA TA-101 Екатерина Тараканова"></a>
                    <meta itemprop="image" content="{{ url_for('static', filename= 'EATA_101_1000v.jpg') }}">
                </div>
                <div class="t1029dipv__bgimg t-margin_auto t-bgimg loaded" itemscope="" itemtype="http://schema.org/ImageObject">
                    <a href="#img_2_2"><img src="{{ url_for('static', filename= 'edpro_101_1000v.jpg') }}" alt="Сертификат EDPRO TA-101 Екатерина Тараканова"></a>
                    <a href="#2_2" class="lightbox trans" id="img_2_2"><img src="{{ url_for('static', filename= 'edpro_101_1000v.jpg') }}" alt="Сертификат EDPRO TA-101 Екатерина Тараканова"></a>
                    <meta itemprop="image" content="{{ url_for('static', filename= 'edpro_101_1000v.jpg') }}">
                </div>
                <div class="t1029dipv__bgimg t-margin_auto t-bgimg loaded" itemscope="" itemtype="http://schema.org/ImageObject">
                    <a href="#img_2_3"><img src="{{ url_for('static', filename= 'tr4tr_step1_1000v.jpg') }}" alt="Тренер РОСАТОМ Екатерина Тараканова"></a>
                    <a href="#2_3" class="lightbox trans" id="img_2_3"><img src="{{ url_for('static', filename= 'tr4tr_step1_1000v.jpg') }}" alt="Тренер РОСАТОМ Екатерина Тараканова"></a>
                    <meta itemprop="image" content="{{ url_for('static', filename= 'tr4tr_step1_1000v.jpg') }}">
                </div>
            </div>
            <div class="t-clear t1029__separator" style="margin-bottom:50px;"></div>
            <div class="t1029dip__row">
                <div class="t1029diph__bgimg t-margin_auto t-bgimg loaded" itemscope="" itemtype="http://schema.org/ImageObject">
                    <a href="#img_3_1"><img src="{{ url_for('static', filename= 'fpkn_1000h.jpg') }}" alt="Член Федерации профессиональных коучей и наставников Екатерина Тараканова"></a>
                    <a href="#3_1" class="lightbox trans" id="img_3_1"><img src="{{ url_for('static', filename= 'fpkn_1000h.jpg') }}" alt="Член Федерации профессиональных коучей и наставников Екатерина Тараканова"></a>
                    <meta itemprop="image" content="{{ url_for('static', filename= 'fpkn_1000h.jpg') }}">
                </div>
                <div class="t1029diph__bgimg t-margin_auto t-bgimg loaded" itemscope="" itemtype="http://schema.org/ImageObject">
                    <a href="#img_3_2"><img src="{{ url_for('static', filename= 'trudnosti_perevoda_1000h.jpg') }}" alt="Сертификат программы 'Трудности перевода' Екатерина Тараканова"></a>
                    <a href="#3_2" class="lightbox trans" id="img_3_2"><img src="{{ url_for('static', filename= 'trudnosti_perevoda_1000h.jpg') }}" alt="Сертификат программы 'Трудности перевода' Екатерина Тараканова"></a>
                    <meta itemprop="image" content="{{ url_for('static', filename= 'trudnosti_perevoda_1000h.jpg') }}">
                </div>
                <div class="t1029diph__bgimg t-margin_auto t-bgimg loaded" itemscope="" itemtype="http://schema.org/ImageObject">
                    <a href="#img_3_3"><img src="{{ url_for('static', filename= 'hakamada_1000h.jpg') }}" alt="Золотой сертификат курса 'Хакаматон' 'Давай поговорим' Екатерина Тараканова"></a>
                    <a href="#3_3" class="lightbox trans" id="img_3_3"><img src="{{ url_for('static', filename= 'hakamada_1000h.jpg') }}" alt="Золотой сертификат курса 'Хакаматон' 'Давай поговорим' Екатерина Тараканова"></a>
                    <meta itemprop="image" content="{{ url_for('static', filename= 'hakamada_1000h.jpg') }}">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="rec620343452" class="r t-rec t-rec_pt_90 t-rec_pb_0 r_anim r_showed" style="padding-top:90px;padding-bottom:0px; " data-record-type="191">
        <!-- T142 -->
        <div class="t142">
            <div class="t-container_100">
                <div class="t142__wrapone">
                    <div class="t142__wraptwo"><a class="t-btn t142__submit t-btn_md t-animate t-animate_started" href="https://t.me/katy_tarakanova" target="_blank" data-animate-style="zoomin" style="color: rgb(235, 24, 195); border: 3px solid rgb(235, 24, 195); background-color: rgb(255, 255, 255); border-radius: 90px; box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 30px 0px;"
                        data-btneffects-first="btneffects-flash" data-observer-ready="true" rel="noopener"><span class="t142__text">ЗАПИСАТЬСЯ НА БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ</span><div class="t-btn_wrap-effects t-btn_wrap-effects_md"><div class="t-btn_effects"></div></div></a></div>
                </div>
            </div>
        </div>
        <style>
            @media (hover), (min-width:0\0) {
            #rec620343452 .t-btn:not(.t-animate_no-hover):hover,
            #rec620343452 .t-btn:not(.t-animate_no-hover):focus-visible {
            background: #eb18c3 !important;
            color: #ffffff !important; }
            #rec620343452 .t-btn:not(.t-animate_no-hover){
            -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out; transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
            }
            #rec620343452 .t-btntext:not(.t-animate_no-hover):hover{
            color: #ffffff !important; }
            }
        </style>
        <style>
            #rec620343452 .t-btn[data-btneffects-first],
            #rec620343452 .t-btn[data-btneffects-second],
            #rec620343452 .t-btn[data-btneffects-third],
            #rec620343452 .t-submit[data-btneffects-first],
            #rec620343452 .t-submit[data-btneffects-second],
            #rec620343452 .t-submit[data-btneffects-third] {
            position: relative;
            overflow: hidden;
            isolation: isolate;
            }
            #rec620343452 .t-btn[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects,
            #rec620343452 .t-submit[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -webkit-transform: translateX(-85px);
            -ms-transform: translateX(-85px);
            transform: translateX(-85px);
            -webkit-animation-name: flash;
            animation-name: flash;
            -webkit-animation-duration: 3s;
            animation-duration: 3s;
            -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            }
            #rec620343452 .t-btn[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects_md,
            #rec620343452 .t-submit[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects_md {
            -webkit-animation-name: flash-md;
            animation-name: flash-md;
            }
            #rec620343452 .t-btn[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects_lg,
            #rec620343452 .t-submit[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects_lg {
            -webkit-animation-name: flash-lg;
            animation-name: flash-lg;
            }
            #rec620343452 .t-btn[data-btneffects-first="btneffects-flash"] .t-btn_effects,
            #rec620343452 .t-submit[data-btneffects-first="btneffects-flash"] .t-btn_effects {
            background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, .1)), to(rgba(255, 255, 255, .4)));
            background: -webkit-linear-gradient(left, rgba(255, 255, 255, .1), rgba(255, 255, 255, .4));
            background: -o-linear-gradient(left, rgba(255, 255, 255, .1), rgba(255, 255, 255, .4));
            background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .4));
            width: 45px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 30px;
            -webkit-transform: skewX(-45deg);
            -ms-transform: skewX(-45deg);
            transform: skewX(-45deg);
            }
            @-webkit-keyframes flash {
            20% {
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
            }
            100% {
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
            }
            }
            @keyframes flash {
            20% {
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
            }
            100% {
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
            }
            }
            @-webkit-keyframes flash-md {
            30% {
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
            }
            100% {
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
            }
            }
            @keyframes flash-md {
            30% {
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
            }
            100% {
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
            }
            }
            @-webkit-keyframes flash-lg {
            40% {
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
            }
            100% {
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
            }
            }
            @keyframes flash-lg {
            40% {
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
            }
            100% {
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
            }
            }
        </style>
</div>
{% endblock %}