{% extends 'base.html' %}

{% block content %}
<!--{% block title %}{{ context.title }}{% endblock %}-->
<div id="rec620170313" class="r t-rec t-rec_pt_60 t-rec_pb_60" style="padding-top:60px;padding-bottom:60px;background-color:#ffffff; " data-record-type="491" data-bg-color="#ffffff" data-animationappear="off">
    <!-- t491 -->
    <div class="t491">
        <div class="t-section__container t-container">
            <div class="t-col t-col_12">
                <div class="t-section__topwrapper t-align_center">
                    <div class="t-section__title t-title t-title_xs" field="btitle">
                        <div style="font-size: 14px;" data-customstyle="yes"></div>
                    </div>
                    <div class="t-section__descr t-descr t-descr_xl t-margin_auto" field="bdescr">
                        <div style="font-size: 28px; line-height:1.5;" data-customstyle="yes">
                            <strong style="color: rgb(110, 11, 97);">КУРС НА РАЗВИТИЕ ГИБКИХ НАВЫКОВ И ЭМОЦИОНАЛЬНОГО ИНТЕЛЛЕКТА</strong>
                            <br><span style="color: rgb(0, 0, 0);">старт 02.10.2022</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="t491__container t-card__container t-container">
            <div class="t-card__col t-card__col_withoutbtn t491__col t-col t-col_4 t-item">
                <div class="t491__content">
                    <div class="t491__wrapper"><img class="t491__img t491__img_circle t-img loaded" src="{{ url_for('static', filename= 'check-mark.png') }}" data-original="{{ url_for('static', filename= 'check-mark.png') }}" imgfield="li_img__1476976334035" alt="">
                        <div class="t-card__title t-name t-name_sm" field="li_title__1476976334035" style="color:#000000;font-size:24px;line-height:1;">
                            58 часов семинаров и практик
                        </div>
                    </div>
                    <div class="t-card__descr t-descr t-descr_xs" field="li_descr__1476976334035" style="color:#000000;font-size:24px;">
                        в группе 10-14 человек
                    </div>
                </div>
            </div>
            <div class="t-card__col t-card__col_withoutbtn t491__col t-col t-col_4 t-item">
                <div class="t491__content">
                    <div class="t491__wrapper"><img class="t491__img t491__img_circle t-img loaded" src="{{ url_for('static', filename= 'check-mark.png') }}" data-original="{{ url_for('static', filename= 'check-mark.png') }}" imgfield="li_img__1689173141134" alt="">
                        <div class="t-card__title t-name t-name_sm" field="li_title__1689173141134" style="color:#000000;font-size:24px;line-height:1;">
                            56 часов группового коучинга
                        </div>
                    </div>
                    <div class="t-card__descr t-descr t-descr_xs" field="li_descr__1689173141134" style="color:#000000;font-size:24px;">
                        в группе до 4 человек
                    </div>
                </div>
            </div>
            <div class="t-card__col t-card__col_withoutbtn t491__col t-col t-col_4 t-item">
                <div class="t491__content">
                    <div class="t491__wrapper"><img class="t491__img t491__img_circle t-img loaded" src="{{ url_for('static', filename= 'check-mark.png') }}" data-original="{{ url_for('static', filename= 'check-mark.png') }}" imgfield="li_img__1689173517519" alt="">
                        <div class="t-card__title t-name t-name_sm" field="li_title__1689173517519" style="color:#000000;font-size:24px;line-height:1;">
                            29 индивидуальных коуч-сессий
                        </div>
                    </div>
                    <div class="t-card__descr t-descr t-descr_xs" field="li_descr__1689173517519" style="color:#000000;font-size:24px;">
                        для каждого участника
                    </div>
                </div>
            </div>
            <div class="t-clear t491__separator" style="margin-bottom:30px;"></div>
            <div class="t-card__col t-card__col_withoutbtn t491__col t-col t-col_4 t-item">
                <div class="t491__content">
                    <div class="t491__wrapper"><img class="t491__img t491__img_circle t-img loaded" src="{{ url_for('static', filename= 'check-mark.png') }}" data-original="{{ url_for('static', filename= 'check-mark.png') }}" imgfield="li_img__1689322263980" alt="">
                        <div class="t-card__title t-name t-name_sm" field="li_title__1689322263980" style="color:#000000;font-size:24px;line-height:1;">
                            29 недель обучения
                        </div>
                    </div>
                </div>
            </div>
            <div class="t-card__col t-card__col_withoutbtn t491__col t-col t-col_4 t-item">
                <div class="t491__content">
                    <div class="t491__wrapper"><img class="t491__img t491__img_circle t-img loaded" src="{{ url_for('static', filename= 'check-mark.png') }}" data-original="{{ url_for('static', filename= 'check-mark.png') }}" imgfield="li_img__1689322314623" alt="">
                        <div class="t-card__title t-name t-name_sm" field="li_title__1689322314623" style="color:#000000;font-size:24px;line-height:1;">
                            Чат в telegram
                        </div>
                    </div>
                </div>
            </div>
            <div class="t-card__col t-card__col_withoutbtn t491__col t-col t-col_4 t-item">
                <div class="t491__content">
                    <div class="t491__wrapper"><img class="t491__img t491__img_circle t-img loaded" src="{{ url_for('static', filename= 'check-mark.png') }}" data-original="{{ url_for('static', filename= 'check-mark.png') }}" imgfield="li_img__1689322359984" alt="">
                        <div class="t-card__title t-name t-name_sm" field="li_title__1689322359984" style="color:#000000;font-size:24px;line-height:1;">
                            Сертификат
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        t_onReady(function () {
        t_onFuncLoad('t491_init', function () {
        t491_init('620170313');
        });
        });
    </script>
</div>
<div id="rec620178243" class="r t-rec t-rec_pt_60 t-rec_pb_90 r_showed r_anim" style="padding-top:60px;padding-bottom:90px; " data-record-type="191">
    <!-- T142 -->
    <div class="t142">
        <div class="t-container_100">
            <div class="t142__wrapone">
                <div class="t142__wraptwo"><a class="t-btn t142__submit t-btn_md t-animate t-animate_started" href="#rec621687165" data-animate-style="zoomin" style="color: rgb(235, 24, 195); border: 3px solid rgb(235, 24, 195); background-color: rgb(255, 255, 255); border-radius: 90px; box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 30px 0px;"
                    data-btneffects-first="btneffects-flash" data-observer-ready="true" rel="noopener"><span class="t142__text">ПРЕДЗАПИСЬ НА КУРС ДЛЯ ПОДРОСТКОВ </span><div class="t-btn_wrap-effects t-btn_wrap-effects_md"><div class="t-btn_effects"></div></div></a></div>
            </div>
        </div>
    </div>
    <style>
        @media (hover), (min-width:0\0) {
        #rec620178243 .t-btn:not(.t-animate_no-hover):hover,
        #rec620178243 .t-btn:not(.t-animate_no-hover):focus-visible {
        background: #eb18c3 !important;
        color: #ffffff !important; }
        #rec620178243 .t-btn:not(.t-animate_no-hover){
        -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out; transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        }
        #rec620178243 .t-btntext:not(.t-animate_no-hover):hover{
        color: #ffffff !important; }
        }
    </style>
    <style>
        #rec620178243 .t-btn[data-btneffects-first],
        #rec620178243 .t-btn[data-btneffects-second],
        #rec620178243 .t-btn[data-btneffects-third],
        #rec620178243 .t-submit[data-btneffects-first],
        #rec620178243 .t-submit[data-btneffects-second],
        #rec620178243 .t-submit[data-btneffects-third] {
        position: relative;
        overflow: hidden;
        isolation: isolate;
        }
        #rec620178243 .t-btn[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects,
        #rec620178243 .t-submit[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transform: translateX(-85px);
        -ms-transform: translateX(-85px);
        transform: translateX(-85px);
        -webkit-animation-name: flash;
        animation-name: flash;
        -webkit-animation-duration: 3s;
        animation-duration: 3s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        }
        #rec620178243 .t-btn[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects_md,
        #rec620178243 .t-submit[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects_md {
        -webkit-animation-name: flash-md;
        animation-name: flash-md;
        }
        #rec620178243 .t-btn[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects_lg,
        #rec620178243 .t-submit[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects_lg {
        -webkit-animation-name: flash-lg;
        animation-name: flash-lg;
        }
        #rec620178243 .t-btn[data-btneffects-first="btneffects-flash"] .t-btn_effects,
        #rec620178243 .t-submit[data-btneffects-first="btneffects-flash"] .t-btn_effects {
        background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, .1)), to(rgba(255, 255, 255, .4)));
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, .1), rgba(255, 255, 255, .4));
        background: -o-linear-gradient(left, rgba(255, 255, 255, .1), rgba(255, 255, 255, .4));
        background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .4));
        width: 45px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 30px;
        -webkit-transform: skewX(-45deg);
        -ms-transform: skewX(-45deg);
        transform: skewX(-45deg);
        }
        @-webkit-keyframes flash {
        20% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        }
        @keyframes flash {
        20% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        }
        @-webkit-keyframes flash-md {
        30% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        }
        @keyframes flash-md {
        30% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        }
        @-webkit-keyframes flash-lg {
        40% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        }
        @keyframes flash-lg {
        40% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        }
    </style>
</div>
<div id="rec620171221" class="r t-rec t-rec_pt_0 t-rec_pb_0" style="padding-top:0px;padding-bottom:0px;background-color:#f6d5e7; " data-animationappear="off" data-record-type="37" data-bg-color="#f6d5e7">
    <!-- T022 -->
    <div class="t022 t-align_center">
        <div class="t-container">
            <div class="t-row">
                <div class="t-col t-col_8 t-prefix_2">
                    <div class="t022__text t-text t-text_sm" style="color:#ffffff;" field="text">
                        <div style="font-size: 20px; line-height: 20px;" data-customstyle="yes">
                            <p style="text-align: center;"><strong style="color: rgb(110, 11, 97);">ТЕМЫ СЕМИНАРОВ</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="rec632489513" class="r t-rec t-rec_pt_60 t-rec_pb_60" style="padding-top:60px;padding-bottom:60px;background-color:#ffffff; " data-animationappear="off" data-record-type="668" data-bg-color="#ffffff">
    <!-- T668 -->
    <div class="t668">
        <div class="t-container">
            <div class="t668__col t-col t-col_8 t-prefix_2" style="margin-bottom:2px;">
                <div class="t668__accordion" data-accordion="true">
                    <div class="t668__wrapper">
                        <div class="t668__header t668__opened">
                            <button type="button" class="t668__trigger-button" aria-controls="accordion1_632489513" aria-expanded="true">
                                <span class="t668__title t-name t-name_xl" field="li_title__1480611044356" style="">
                                    <div style="font-size: 30px;" data-customstyle="yes">
                                        <strong>Эмоциональный интеллект</strong>
                                    </div>
                                </span>
                                <span class="t668__icon">
                                    <span class="t668__lines">
                                        <svg role="presentation" focusable="false" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g stroke="none" stroke-width="2px" fill="none" fill-rule="evenodd" stroke-linecap="square"><g transform="translate(1.000000, 1.000000)" stroke="#ffffff"><path d="M0,11 L22,11"></path><path d="M11,0 L11,22"></path></g></g>
                                        </svg>
                                    </span>
                                <span class="t668__circle" style="background-color: #6e0b61"></span>
                                    </span>
                                    <span class="t668__icon t668__icon-hover">
                                        <span class="t668__lines">
                                            <svg role="presentation" focusable="false" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <g stroke="none" stroke-width="2px" fill="none" fill-rule="evenodd" stroke-linecap="square"><g transform="translate(1.000000, 1.000000)" stroke="#6e0b61"><path d="M0,11 L22,11"></path><path d="M11,0 L11,22"></path></g></g>
                                            </svg>
                                        </span>
                                    <span class="t668__circle" style="background-color: #ffffff"></span>
                                        </span>
                            </button>
                        </div>
                        <div class="t668__content" id="accordion1_632489513" style="display:block;">
                            <div class="t668__textwrapper">
                                <div class="t668__text t-descr t-descr_xs" field="li_descr__1480611044356" style="">
                                    <div style="font-size: 22px;" data-customstyle="yes">
                                        1. Контейнирование эмоций
                                        <br>2. Эмпатия
                                        <br>3. Личные и функциональные границы
                                        <br>4. Эффективные конфликты
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t668__col t-col t-col_8 t-prefix_2" style="margin-bottom:2px;">
                <div class="t668__accordion" data-accordion="true">
                    <div class="t668__wrapper">
                        <div class="t668__header ">
                            <button type="button" class="t668__trigger-button" aria-controls="accordion2_632489513" aria-expanded="false">
                                <span class="t668__title t-name t-name_xl" field="li_title__1596192428355" style="">
                                    <div style="font-size: 30px;" data-customstyle="yes">
                                        <strong>Психологическая зрелость</strong>
                                    </div>
                                </span>
                                <span class="t668__icon">
                                    <span class="t668__lines">
                                        <svg role="presentation" focusable="false" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g stroke="none" stroke-width="2px" fill="none" fill-rule="evenodd" stroke-linecap="square"><g transform="translate(1.000000, 1.000000)" stroke="#ffffff"><path d="M0,11 L22,11"></path><path d="M11,0 L11,22"></path></g></g>
                                        </svg>
                                    </span>
                                <span class="t668__circle" style="background-color: #6e0b61"></span>
                                    </span>
                                    <span class="t668__icon t668__icon-hover">
                                        <span class="t668__lines">
                                            <svg role="presentation" focusable="false" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <g stroke="none" stroke-width="2px" fill="none" fill-rule="evenodd" stroke-linecap="square"><g transform="translate(1.000000, 1.000000)" stroke="#6e0b61"><path d="M0,11 L22,11"></path><path d="M11,0 L11,22"></path></g></g>
                                            </svg>
                                        </span>
                                    <span class="t668__circle" style="background-color: #ffffff"></span>
                                        </span>
                            </button>
                        </div>
                        <div class="t668__content" id="accordion2_632489513" hidden="">
                            <div class="t668__textwrapper">
                                <div class="t668__text t-descr t-descr_xs" field="li_descr__1596192428355" style="">
                                    <div style="font-size: 22px;" data-customstyle="yes">
                                        1. Принципы и ценности
                                        <br>2. Устойчивость к стрессу
                                        <br>3. Восприятие критики и обратная связь
                                        <br>4. Право на желания, мечты и действия
                                        <br>5. Я-концепция и самооценка
                                        <br>6. Выученная беспомощность против достижений
                                        <br>7. Эффективное взаимодействие РОДИТЕЛЬ - РЕБЕНОК
                                        <br>8. Как выбрать профессию и куда пойти учиться
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t668__col t-col t-col_8 t-prefix_2" style="margin-bottom:2px;">
                <div class="t668__accordion" data-accordion="true">
                    <div class="t668__wrapper">
                        <div class="t668__header ">
                            <button type="button" class="t668__trigger-button" aria-controls="accordion3_632489513" aria-expanded="false">
                                <span class="t668__title t-name t-name_xl" field="li_title__1480611048442" style="">
                                    <div style="font-size: 30px;" data-customstyle="yes">
                                        <strong>Гибкие навыки</strong>
                                    </div>
                                </span>
                                <span class="t668__icon">
                                    <span class="t668__lines">
                                        <svg role="presentation" focusable="false" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g stroke="none" stroke-width="2px" fill="none" fill-rule="evenodd" stroke-linecap="square"><g transform="translate(1.000000, 1.000000)" stroke="#ffffff"><path d="M0,11 L22,11"></path><path d="M11,0 L11,22"></path></g></g>
                                        </svg>
                                    </span>
                                <span class="t668__circle" style="background-color: #6e0b61"></span>
                                    </span>
                                    <span class="t668__icon t668__icon-hover">
                                        <span class="t668__lines">
                                            <svg role="presentation" focusable="false" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <g stroke="none" stroke-width="2px" fill="none" fill-rule="evenodd" stroke-linecap="square"><g transform="translate(1.000000, 1.000000)" stroke="#6e0b61"><path d="M0,11 L22,11"></path><path d="M11,0 L11,22"></path></g></g>
                                            </svg>
                                        </span>
                                    <span class="t668__circle" style="background-color: #ffffff"></span>
                                        </span>
                            </button>
                        </div>
                        <div class="t668__content" id="accordion3_632489513" hidden="">
                            <div class="t668__textwrapper">
                                <div class="t668__text t-descr t-descr_xs" field="li_descr__1480611048442" style="">
                                    <div style="font-size: 22px;" data-customstyle="yes">
                                        1. Гибкость и адаптивность
                                        <br>2. Расстановка приоритетов и дисциплина
                                        <br>3. Креативность и визионерство
                                        <br>4. Постановка целей и достижение результата
                                        <br>5. Принятие изменений
                                        <br>6. Работа с сопротивлениями
                                        <br>7. Навыки эффективной коммуникации
                                        <br>8. Навыки публичных выступлений
                                        <br>9. Колесо баланса - инструмент управления временем и смыслами
                                        <br>10. Тайм-менеджмент и эффективное планирование
                                        <br>11. Финансовая грамотность
                                        <br>12. Коучинговые инструменты и навыки
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t668__col t-col t-col_8 t-prefix_2" style="margin-bottom:2px;">
                <div class="t668__accordion" data-accordion="true">
                    <div class="t668__wrapper">
                        <div class="t668__header ">
                            <button type="button" class="t668__trigger-button" aria-controls="accordion4_632489513" aria-expanded="false">
                                <span class="t668__title t-name t-name_xl" field="li_title__1489600117321" style="">
                                    <div style="font-size: 30px;" data-customstyle="yes">
                                        <strong>Работа мозга и психики</strong>
                                    </div>
                                </span>
                                <span class="t668__icon">
                                    <span class="t668__lines">
                                        <svg role="presentation" focusable="false" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g stroke="none" stroke-width="2px" fill="none" fill-rule="evenodd" stroke-linecap="square"><g transform="translate(1.000000, 1.000000)" stroke="#ffffff"><path d="M0,11 L22,11"></path><path d="M11,0 L11,22"></path></g></g>
                                        </svg>
                                    </span>
                                <span class="t668__circle" style="background-color: #6e0b61"></span>
                                    </span>
                                    <span class="t668__icon t668__icon-hover">
                                        <span class="t668__lines">
                                            <svg role="presentation" focusable="false" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <g stroke="none" stroke-width="2px" fill="none" fill-rule="evenodd" stroke-linecap="square"><g transform="translate(1.000000, 1.000000)" stroke="#6e0b61"><path d="M0,11 L22,11"></path><path d="M11,0 L11,22"></path></g></g>
                                            </svg>
                                        </span>
                                    <span class="t668__circle" style="background-color: #ffffff"></span>
                                        </span>
                            </button>
                        </div>
                        <div class="t668__content" id="accordion3_632489513" hidden="">
                            <div class="t668__textwrapper">
                                <div class="t668__text t-descr t-descr_xs" field="li_descr__1480611048442" style="">
                                    <div style="font-size: 22px;" data-customstyle="yes">
                                        1. Особенности работы мозга
                                        <br>2. Типологии личности
                                        <br>3. Кризисы в жизни человека
                                        <br>4. РЕБЕНОК, РОДИТЕЛЬ, ВЗРОСЛЫЙ в личности человека
                                        <br>5. Социальное влияние, формирование установок и сценариев
                                        <br>6. Особенности развития психики в подростковом возрасте
                                        <br>7. Психологические игры, в которые играют люди
                                        <br>8. Задачи подросткового возраста
                                        <br>9. Динамика развития личности
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        t_onReady(function () {
        t_onFuncLoad('t668_init', function () {
        t668_init('632489513');
        });
        });
        function t668_init(recId) {
                var rec = document.getElementById("rec" + recId);
                if (!rec) return;
                var container = rec.querySelector(".t668");
                if (!container) return;
                var accordion = rec.querySelectorAll(".t668__accordion")[0];
                var headers = rec.querySelectorAll(".t668__header");
                var isLazy = document.getElementById("allrecords").getAttribute("data-tilda-lazy");
                var content = rec.querySelector(".t668__content");
                if (!content) return;
                var contentStyle = window.getComputedStyle(content, null);
                if (!contentStyle && typeof contentStyle !== "object") return;
                var oldStyle = {
                    paddingTop: contentStyle.paddingTop,
                    paddingBottom: contentStyle.paddingBottom
                };
                if (accordion) {
                    accordion = accordion.getAttribute("data-accordion");
                } else {
                    accordion = "false";
                }
                for (var i = 0; i < headers.length; i++) {
                    headers[i].addEventListener("click", function() {
                        var element = this;
                        var container = element.nextElementSibling;
                        var triggerButton = element.querySelector(".t668__trigger-button");
                        if (triggerButton) {
                            var isExpanded = triggerButton.getAttribute("aria-expanded") === "true";
                            triggerButton.setAttribute("aria-expanded", !isExpanded);
                            container.hidden = isExpanded;
                        }
                        if (element.classList.contains("t668__opened")) {
                            element.classList.remove("t668__opened");
                            t668_accordionHide(container);
                        } else {
                            if (accordion === "true") {
                                t668_accordionAllHide(headers);
                            }
                            element.classList.add("t668__opened");
                            container.style.display = "block";
                            var height = container.scrollHeight;
                            container.style.maxHeight = "0px";
                            setTimeout(function() {
                                container.style.maxHeight = height + "px";
                                container.setAttribute("style", t668_addStyle(container) + " padding-top: " + oldStyle.paddingTop + "; padding-bottom: " + oldStyle.paddingBottom + ";");
                            }, 0);
                        }
                        if (window.lazy === "y" || isLazy === "yes") {
                            t_onFuncLoad("t_lazyload_update", function() {
                                t_lazyload_update();
                            });
                        }
                    });
                }
            }

            function t668_accordionAllHide(headers) {
                for (var i = 0; i < headers.length; i++) {
                    var elementHide = headers[i];
                    elementHide.classList.remove("t668__opened");
                    t668_accordionHide(elementHide.nextElementSibling);
                }
            }

            function t668_accordionHide(container) {
                if (!container.style.maxHeight) container.style.maxHeight = container.scrollHeight + "px";
                setTimeout(function() {
                    container.style.maxHeight = 0;
                    container.setAttribute("style", t668_addStyle(container) + " padding-top: 0px !important; padding-bottom: 0px !important;");
                }, 0);
            }

            function t668_addStyle(container) {
                var attrStyle = container.getAttribute("style");
                var arrStyle = attrStyle.split(";");
                var newArr = [];
                for (var i = 0; i < arrStyle.length; i++) {
                    var style = arrStyle[i];
                    if (style.indexOf("padding-top") === -1 && style.indexOf("padding-bottom") === -1) {
                        newArr.push(style);
                    }
                }
                return newArr.join(";");
            }
    </script>
    <style>
        #rec632489513 .t668__title { font-size: 24px; } #rec632489513 .t668__text { font-size: 16px; }
    </style>
</div>
<div class="human">
    <div class="t1029">
        <div class="t-container t-card__container">
            <div class="t1029hum__row">
                <div class="t1029hum__bgimg t-margin_auto t-bgimg loaded" itemscope="" itemtype="http://schema.org/ImageObject">
                    <img src="{{ url_for('static', filename= 'kurs_human_300.jpg') }}" alt="Курс Екатерины Таракановой">
                    <meta itemprop="image" content="{{ url_for('static', filename= 'kurs_human_300.jpg') }}">
                    <!-- T142 -->
                    <div class="t142_but" id="rec620357645">
                        <div class="t-container_100">
                            <div class="t142_but__wrapone">
                                <div class="t142_but__wraptwo">
                                    <a class="t-btn t142__submit t-btn_md t-animate t-animate_started" href="#rec621687165" data-animate-style="zoomin" style="color: rgb(235, 24, 195); border: 3px solid rgb(235, 24, 195); background-color: rgb(255, 255, 255); border-radius: 90px; box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 30px 0px;"
                                    data-btneffects-first="btneffects-flash" data-observer-ready="true" rel="noopener">
                                        <span class="t142__text">ХОЧУ НА КУРС</span>
                                        <div class="t-btn_wrap-effects t-btn_wrap-effects_md">
                                            <div class="t-btn_effects"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    <style>
                        @media (hover), (min-width:0\0) {
                        #rec620357645 .t-btn:not(.t-animate_no-hover):hover,
                        #rec620357645 .t-btn:not(.t-animate_no-hover):focus-visible {
                        background: #eb18c3 !important;
                        color: #ffffff !important; }
                        #rec620357645 .t-btn:not(.t-animate_no-hover){
                        -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out; transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
                        }
                        #rec620357645 .t-btntext:not(.t-animate_no-hover):hover{
                        color: #ffffff !important; }
                        }
                    </style>
                    <style>
                        #rec620357645 .t-btn[data-btneffects-first],
                        #rec620357645 .t-btn[data-btneffects-second],
                        #rec620357645 .t-btn[data-btneffects-third],
                        #rec620357645 .t-submit[data-btneffects-first],
                        #rec620357645 .t-submit[data-btneffects-second],
                        #rec620357645 .t-submit[data-btneffects-third] {
                        position: relative;
                        overflow: hidden;
                        isolation: isolate;
                        }
                        #rec620357645 .t-btn[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects,
                        #rec620357645 .t-submit[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        -webkit-transform: translateX(-85px);
                        -ms-transform: translateX(-85px);
                        transform: translateX(-85px);
                        -webkit-animation-name: flash;
                        animation-name: flash;
                        -webkit-animation-duration: 3s;
                        animation-duration: 3s;
                        -webkit-animation-timing-function: linear;
                        animation-timing-function: linear;
                        -webkit-animation-iteration-count: infinite;
                        animation-iteration-count: infinite;
                        }
                        #rec620357645 .t-btn[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects_md,
                        #rec620357645 .t-submit[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects_md {
                        -webkit-animation-name: flash-md;
                        animation-name: flash-md;
                        }
                        #rec620357645 .t-btn[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects_lg,
                        #rec620357645 .t-submit[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects_lg {
                        -webkit-animation-name: flash-lg;
                        animation-name: flash-lg;
                        }
                        #rec620357645 .t-btn[data-btneffects-first="btneffects-flash"] .t-btn_effects,
                        #rec620357645 .t-submit[data-btneffects-first="btneffects-flash"] .t-btn_effects {
                        background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, .1)), to(rgba(255, 255, 255, .4)));
                        background: -webkit-linear-gradient(left, rgba(255, 255, 255, .1), rgba(255, 255, 255, .4));
                        background: -o-linear-gradient(left, rgba(255, 255, 255, .1), rgba(255, 255, 255, .4));
                        background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .4));
                        width: 45px;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 30px;
                        -webkit-transform: skewX(-45deg);
                        -ms-transform: skewX(-45deg);
                        transform: skewX(-45deg);
                        }
                        @-webkit-keyframes flash {
                        20% {
                        -webkit-transform: translateX(100%);
                        transform: translateX(100%);
                        }
                        100% {
                        -webkit-transform: translateX(100%);
                        transform: translateX(100%);
                        }
                        }
                        @keyframes flash {
                        20% {
                        -webkit-transform: translateX(100%);
                        transform: translateX(100%);
                        }
                        100% {
                        -webkit-transform: translateX(100%);
                        transform: translateX(100%);
                        }
                        }
                        @-webkit-keyframes flash-md {
                        30% {
                        -webkit-transform: translateX(100%);
                        transform: translateX(100%);
                        }
                        100% {
                        -webkit-transform: translateX(100%);
                        transform: translateX(100%);
                        }
                        }
                        @keyframes flash-md {
                        30% {
                        -webkit-transform: translateX(100%);
                        transform: translateX(100%);
                        }
                        100% {
                        -webkit-transform: translateX(100%);
                        transform: translateX(100%);
                        }
                        }
                        @-webkit-keyframes flash-lg {
                        40% {
                        -webkit-transform: translateX(100%);
                        transform: translateX(100%);
                        }
                        100% {
                        -webkit-transform: translateX(100%);
                        transform: translateX(100%);
                        }
                        }
                        @keyframes flash-lg {
                        40% {
                        -webkit-transform: translateX(100%);
                        transform: translateX(100%);
                        }
                        100% {
                        -webkit-transform: translateX(100%);
                        transform: translateX(100%);
                        }
                        }
                    </style>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="rec621687165" class="r t-rec t-rec_pt_0 t-rec_pb_0" style="padding-top:0px;padding-bottom:0px;background-color:#f6d5e7; " data-animationappear="off" data-record-type="37" data-bg-color="#f6d5e7">
    <!-- T022 -->
    <div class="t022 t-align_center">
        <div class="t-container">
            <div class="t-row">
                <div class="t-col t-col_8 t-prefix_2">
                    <div class="t022__text t-text t-text_sm" style="color:#ffffff;" field="text">
                        <div style="font-size: 20px; line-height: 20px;" data-customstyle="yes">
                            <p style="text-align: center;"><strong style="color: rgb(110, 11, 97);">ТАРИФЫ</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="rec621694697" class="r t-rec t-rec_pt_60 t-rec_pb_60" style="padding-top:60px;padding-bottom:60px; " data-animationappear="off" data-record-type="1068">
    <!-- t1068 -->
    <div class="t1068">
        <div class="t-container t-card__container">
            <div class="t1068__row">
                <div class="t1068__col t-card__col t-col t-col_4 t-align_center">
                    <div class="t1068__content">
                        <div class="t1068__imgwrapper" style="height: 100px;">
                            <div class="t1068__bgimg t1068__img_circle t-margin_auto t-bgimg loaded" data-original="{{ url_for('static', filename= 'icon_next.png') }}" bgimgfield="li_img__1659456156538" style="background-image: url(&quot;{{ url_for('static', filename= 'icon_next.png') }}&quot;);"
                            itemscope="" itemtype="http://schema.org/ImageObject">
                                <meta itemprop="image" content="{{ url_for('static', filename= 'icon_next.png') }}">
                            </div>
                        </div>
                        <div class="t-card__title t-name t-name_xl" field="li_title__1659456156538" style=""><strong style="color: rgb(110, 11, 97);">ТЕОРЕТИЧЕСКИЙ</strong></div>
                        <div class="t-card__descr t-descr t-descr_xs" field="li_descr__1659456156538" style="">
                            <ul>
                                <li><strong>2 обучающих семинара в месяц</strong> длительностью 2 часа каждый<strong> в группе 10-14 человек</strong></li>
                                <li><span style="text-decoration: line-through; font-weight: bold; ">&nbsp;1 сессия группового коучинга</span><span style="text-decoration: line-through;"> в малой группе 4 человека&nbsp;</span></li>
                                <li><span style="text-decoration: line-through; font-weight: bold; ">&nbsp;1 сессия индивидуального коучинга&nbsp;</span></li>
                                <li><strong>Чат</strong> в телеграмм</li>
                                <li><span style="text-decoration: line-through; font-weight: bold; ">&nbsp;Сертификат&nbsp;</span></li>
                            </ul>
                        </div>
                        <div class="t1068__price t-name t-name_md" field="li_price__1659456156538" data-redactor-toolbar="no" style="height: 27px; font-size: 20px;"><span style="display: inline-block; padding: 0.2em .5em; font-weight: bold; background: #f6d5e7; border-radius: 20px;">3 990</span> рублей в месяц</div>
                        <a href="https://forms.gle/45EbBvLBNqgeCXrU9" class="t-card__link" target="_blank" rel="noopener">
                            <div class="t-card__btn t-btn t-btn_sm" style="color:#6e0b61;border:3px solid #6e0b61;background-color:#ffffff;border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px;">ОСТАВИТЬ ЗАЯВКУ</div>
                        </a>
                    </div>
                </div>
                <div class="t1068__col t-card__col t-col t-col_4 t-align_center">
                    <div class="t1068__line_mobile" style="background-color: #e0e6ed;"></div>
                    <div class="t1068__content">
                        <div class="t1068__imgwrapper" style="height: 100px;">
                            <div class="t1068__bgimg t1068__img_circle t-margin_auto t-bgimg loaded" data-original="{{ url_for('static', filename= 'icon_audio-waves.png') }}" bgimgfield="li_img__1659456194016" style="background-image: url(&quot;{{ url_for('static', filename= 'icon_audio-waves.png') }}&quot;);"
                            itemscope="" itemtype="http://schema.org/ImageObject">
                                <meta itemprop="image" content="{{ url_for('static', filename= 'icon_audio-waves.png') }}">
                            </div>
                        </div>
                        <div class="t-card__title t-name t-name_xl" field="li_title__1659456194016" style=""><strong style="color: rgb(110, 11, 97);">ОПТИМАЛЬНЫЙ</strong></div>
                        <div class="t-card__descr t-descr t-descr_xs" field="li_descr__1659456194016" style="">
                            <ul>
                                <li><strong>2 обучающих семинара в месяц</strong> длительностью 2 часа каждый<strong> в группе 10-14 человек</strong></li>
                                <li><strong>1 сессия группового коучинга</strong> в малой группе 4 человека</li>
                                <li><strong>1 сессия индивидуального коучинга</strong></li>
                                <li><strong>Чат</strong> в телеграмм</li>
                                <li><strong>Сертификат</strong></li>
                            </ul>
                        </div>
                        <div class="t1068__price t-name t-name_md" field="li_price__1659456194016" data-redactor-toolbar="no" style="height: 27px; font-size: 20px;"><span style="display: inline-block; padding: 0.2em .5em; font-weight: bold; background: #f6d5e7; border-radius: 20px;">4 990</span> рублей в месяц</div>
                        <a href="https://forms.gle/wFzmzgiHGz98M9e57" class="t-card__link" target="_blank" rel="noopener">
                            <div class="t-card__btn t-btn t-btn_md" style="color:#eb18c3;border:3px solid #eb18c3;background-color:#ffffff;border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px;">ОСТАВИТЬ ЗАЯВКУ</div>
                        </a>
                    </div>
                    <div class="t1068__line" style="background-color: #e0e6ed;"></div>
                </div>
                <div class="t1068__col t-card__col t-col t-col_4 t-align_center">
                    <div class="t1068__line_mobile" style="background-color: #e0e6ed;"></div>
                    <div class="t1068__content">
                        <div class="t1068__imgwrapper" style="height: 100px;">
                            <div class="t1068__bgimg t1068__img_circle t-margin_auto t-bgimg loaded" data-original="{{ url_for('static', filename= 'icon_podcast.png') }}" bgimgfield="li_img__1659456225668" style="background-image: url(&quot;{{ url_for('static', filename= 'icon_podcast.png') }}&quot;);"
                            itemscope="" itemtype="http://schema.org/ImageObject">
                                <meta itemprop="image" content="{{ url_for('static', filename= 'icon_podcast.png') }}">
                            </div>
                        </div>
                        <div class="t-card__title t-name t-name_xl" field="li_title__1659456225668" style=""><strong style="color: rgb(110, 11, 97);">ИНДИВИДУЛЬНЫЙ</strong></div>
                        <div class="t-card__descr t-descr t-descr_xs" field="li_descr__1659456225668" style="">
                            <ul>
                                <li><strong>2 обучающих семинара в месяц</strong> длительностью 2 часа каждый <span style="display: inline-block; padding: 0 .5em; font-weight: bold; background: #f6d5e7; border-radius: 10px;">индивидуально</span></li>
                                <li><span style="text-decoration: line-through; font-weight: bold; ">&nbsp;1 сессия группового коучинга</span><span style="text-decoration: line-through;"> в малой группе 4 человека&nbsp;</span></li>
                                <li><strong>2 сессии индивидуального коучинга</strong></li>
                                <li><strong>Чат</strong> в телеграмм</li>
                                <li><strong>Сертификат</strong></li>
                            </ul>
                        </div>
                        <div class="t1068__price t-name t-name_md" field="li_price__1659456225668" data-redactor-toolbar="no" style="height: 27px; font-size: 20px;"><span style="display: inline-block; padding: 0.2em .5em; font-weight: bold; background: #f6d5e7; border-radius: 20px;">15 990</span> рублей в месяц</div>
                        <a href="https://forms.gle/efrMy4jtN5vetfha8" class="t-card__link" target="_blank" rel="noopener">
                            <div class="t-card__btn t-btn t-btn_sm" style="color:#6e0b61;border:3px solid #6e0b61;background-color:#ffffff;border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px;">ОСТАВИТЬ ЗАЯВКУ</div>
                        </a>
                    </div>
                    <div class="t1068__line" style="background-color: #e0e6ed;"></div>
                </div>
            </div>
        </div>
    </div>
    <style>
        #rec621694697 .t1068__descr li {
        border-color: #e0e6ed !important; }
    </style>
    <script>
        t_onReady(function () {
        t_onFuncLoad('t1068_init', function () {
        t1068_init('621694697');
        });
        });
    </script>
</div>
{% endblock %}